html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

main {
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    height: 60px;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px #ccc;
}

.image-container {
    width: calc(100% - 60px);
    max-width: 1300px;
    margin: 30px 30px 0px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #ccc;
    cursor: pointer;
}

.image {
    background-size: cover;
    background-position: center;
}

/*
 * Set full width and height
 * Text - white, 16px, centered horizontally and vertically
 * make it invisible (opacity)
 */
.image div {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.image div:hover {
    opacity: 1;
}

.note {
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}

.note h1 {
    margin: 0 0 10px 0;
    font-size: 28px;
}

.note p {
    margin: 0;
    font-size: 24px;
}

.caption {
    background-size: cover;
    background-position: center;
}

/*
 * Goal of the task: Customize the image for different screens.
 * How to set different sizes for different screens?
 * 1] Remember it.
 * 2] You can google.
 * 3] Check previous projects (Datorium Dashboard)
 * 4] I will show an example in 2 minutes. 12:08
 *
 * TODO:
 * 1] For screens no smaller than 500px width: image to be 50% wide
 * 2] For screens with min width 750px: 33.3%
 * 3] min 1000px screen: 25%
 * 4] min 1250px screen: 20%;
 */

@media (min-width: 500px) {
    .item {
        width: calc(50% - 15px);
    }
}

@media (min-width: 750px) {
    .item {
        width: calc(33.3% - 20px);
    }
}

@media (min-width: 1000px) {
    .item {
        width: calc(25% - 22.5px);
    }
}

@media (min-width: 1250px) {
    .item {
        width: calc(20% - 24px);
    }
}
